form {
    align-items: flex-start;
    padding: 0 2rem 1.5rem 2rem;

    border-radius: 1.5rem;
    border: 1px solid rgba(231, 238, 235, 0.08);
    background: rgba(231, 238, 235, 0.08);
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.15);
  }

  .form-control {
    font-family: system-ui, sans-serif;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
  }

  .form-control+.form-control {
    margin-top: 1em;
  }

  .form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }

  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--form-background);
    /* Not removed via appearance */
    margin: 0;

    // font: inherit;
    // color: currentColor;
    width: 24px;
    height: 24px;
    min-width: 24px;

    border: 1px solid rgba(231, 238, 235, 0.08);
    background-color: rgba(231, 238, 235, 0.04);
    border-radius: 0.4rem;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    &:hover {
    border: 1px solid rgba(231, 238, 235, 0.16);
    background-color: rgba(231, 238, 235, 0.08);
    cursor: pointer;
    }
  }

  input[type="checkbox"]::before {
    content: "";
    width: 1rem;
    height: 1rem;
    clip-path: rect(1rem, 1rem);
    transform: scale(0);
    border-radius: 0.2rem;
    transform-origin: center;
    transition: 120ms transform ease-in-out;

    /* Windows High Contrast Mode */
    background-color: #8B7AFF;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="checkbox"]:disabled {
    cursor: not-allowed;
  }

  input[type="checkbox"]::before {
    content: "";
    width: .8rem;
    height: .8rem;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    // box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="email"] {

    min-width: 15rem;

    border: 1px solid rgba(231, 238, 235, 0.08);
    background-color: rgba(231, 238, 235, 0.04);
    border-radius: 0.5rem;
    padding: .5rem 1rem;

    font-family: 'Satoshi', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: #E7EEEB;

    ::placeholder {
      font-family: 'Satoshi', sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      color: #A2A5A3;
    }

    &:hover {
    background-color: rgba(231, 238, 235, 0.08);
    }

    &:focus {
    outline: 1px solid rgba(139, 122, 255, 0.32);

    }
  }

  input[type="text"] {

    min-width: 15rem;

    border: 1px solid rgba(231, 238, 235, 0.08);
    background-color: rgba(231, 238, 235, 0.04);
    border-radius: 0.5rem;
    padding: .5rem 1rem;

    font-family: 'Satoshi', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: #E7EEEB;

    ::placeholder {
      font-family: 'Satoshi', sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      color: #A2A5A3;
      text-align: start;
    }

    &:hover {
    background-color: rgba(231, 238, 235, 0.08);
    }

    &:focus {
    outline: 1px solid rgba(139, 122, 255, 0.32);

    }
  }

  textarea {
    min-width: 15rem;

    border: 1px solid rgba(231, 238, 235, 0.08);
    background-color: rgba(231, 238, 235, 0.04);
    border-radius: 0.5rem;
    padding: .5rem 1rem;

    font-family: 'Satoshi', sans-serif;
    font-size: 0.75rem;
    font-weight: 700;
    color: #E7EEEB;

    ::placeholder {
      font-family: 'Satoshi', sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      color: #A2A5A3;
      text-align: start;
    }

    &:hover {
    background-color: rgba(231, 238, 235, 0.08);
    }

    &:focus {
    outline: 1px solid rgba(139, 122, 255, 0.32);

    }
  }
